doctype html
html(lang='en')
  head
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdn.datatables.net/1.10.10/css/dataTables.bootstrap.min.css')
    title Document Analysis

  body
    .modal-title
      h3 Document Analysis
    .col-lg-6
      .input-group
        input#srch-term.form-control(type='text', placeholder='Enter search text here', name='srch-term')
        .input-group-btn
          button.btn.btn-default(type='submit', onclick='pressSearchKey()')
            i.glyphicon.glyphicon-search
    .col-lg-3
      input#uploadFile.form-control(placeholder='...', disabled='disabled')
    .col-lg-3
      form#uploadForm(enctype='multipart/form-data', action='/upload', method='post')
        .btn.btn-default.fileUpload
          span Upload
          input#uploadBtn.upload(onchange='showPathOfUpload()', type='file', multiple='multiple', name='files')
        button.btn.btn-default(type='submit', name='submit')
          i.glyphicon.glyphicon-upload
        span#status
    #search
    #result
      table#data.table.table-striped.table-bordered
        thead
          tr
            th ID
            th Document
            th Count
        tbody
          each val in data
            tr
              td #{val.id}
              td
                a(href="uploads/" + val.doc) #{val.doc}
              td #{val.count}
        tfoot
          tr
            th ID
            th Document
            th Count
        tbody

  script(src='/javascripts/plugins.js')
  script(src='/javascripts/functions.js')
