doctype html
html(lang='en')
  head
    link(href='//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css', rel='stylesheet')
  body
  .input-group
    input#srch-term.form-control(type='text', placeholder='Search with button', name='srch-term')
    .input-group-btn
      button.btn.btn-default(type='submit', onclick='pressSearchKey()')
        i.glyphicon.glyphicon-search
  br
  #search
  #result
  <!-- Template for search results-->
  script#result-template(type='text/x-handlebars-template')
    table.table.table-striped
      tr
        th ID
        th Document
        th Count
      {{#each this}}
      tr
        td {{id}}
        td {{doc}}
        td {{count}}
      {{/each}}
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
  script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
  script(src='http://builds.handlebarsjs.com.s3.amazonaws.com/handlebars.min-latest.js')
  script(src='/javascripts/search.js')
