doctype html
html(lang='en')
  head
    link(href='//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css', rel='stylesheet')
  body
    .input-group
      .input-group-btn
        button.btn.btn-default(type='submit', onclick='pressSearchKey()')
          i.glyphicon.glyphicon-search
      input#srch-term.form-control(type='text', placeholder='Enter search text here', name='srch-term')
      form#uploadForm(enctype='multipart/form-data', action='/', method='post')
        .input-group-btn
          span.btn.btn-default.btn-file
            input(type='file', multiple='multiple', name='files')
          button.btn.btn-default(type='submit', name='submit')
            i.glyphicon.glyphicon-upload
      span#status
    br
    #search
    #result
    // Template for search results
    script#result-template(type='text/x-handlebars-template')
      table.table.table-striped.table-bordered
        thead
          tr
            th ID
            th Document
            th Count
        tfoot
          tr
            th ID
            th Document
            th Count
        tbody
        |     {{#each this}}
        tr
          td {{id}}
          td
            a(href="/uploads/{{doc}}") {{doc}}
          td {{count}}
        | {{/each}}
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
  script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
  script(src='http://builds.handlebarsjs.com.s3.amazonaws.com/handlebars.min-latest.js')
  script(src='/javascripts/functions.js')
